html{
    font-family: 'Bubbler One', sans-serif;
}
body{
    background-color:lightgray;
}
.container{
    padding: 10px 10px;
    margin: 10px 10px;
}
.header{
    height:39px;
    width: 100%;
}
.logo{
    float: left;
    display: inline-block;
    padding: 10px;
}
.menu ul{
    display: inline;
    margin: 0px 10px ;
}
.menu li{
    display: inline-block;
    margin:0px 5px;
    padding: 10px;
    background-color: orange;
    float: right;
}
.left{
    float: left;
}
.main{
    margin: 10px 10px;
    padding: 10px 20px;
    background-color: white;
}
.main p{
    column-count: 3;
}
.footer{
    text-align:right;
}
.flexcontainer{
    display: flex;
}
.flexitem{
    margin:10px;
    background-color: grey;
    width:30%;
    height:300px;
}
.flexitem:hover{
    transform: rotate(45deg);
}