html{
}
body{
    background-color:#198;
    color: white;
    font-family: 'Bubbler One', sans-serif;
}
.border-white{
    border: 2px solid #adf;
    padding: 10px;
}
.menu{
    background-color: lightcyan;
}
.menu ul{
    margin: 10px 10px;
}
.menu li{
    display: inline;
    padding-left: 10px;
}
.jumbotron {
    min-height: 300px;
    max-height: 500px;
}