<nav class="container-fluid navbar navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Home</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="/">Skills</a></li>
      <li><a routerLink="portfolio">Portfolio</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="/">Blog</a></li>
    </ul>
  </div>
</nav>