/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    background-color: white;
    font-family: 'Bubbler One';
}
.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar input{
    border-radius: 30px;
}
.navbar button{
    border-radius: 30px;
}
.navbar .navbar-nav img{
    background-color: white;
}
.carousel .item img{
    max-height:500px;
    width:auto;
    margin: auto;
}
.navbar ul{
    width:100%;
}
.navbar li{
    width:16.66667%;
    text-align: center;
}
.content{
    padding: 0px 15px;
}
h1 hr{
    border: 2px solid black;
}
.content img{
    max-height: 200px;
    width:100%;
}
.content .thumbnail{
    border: none;
}
.content .caption{
    background-color: lightgrey;
}
.footer{
    background-color: black;
    padding-bottom: 50px;
    color: white;
}
.footer input{
    width:100%;
    height:200px;
    margin-bottom:10px;
    background-color: lightgrey;
}
.footer-form button{
    background-color: lightgrey;
    width:50%;
    color: black;
}
.footer hr{
    border: 2px solid white;
}
.credit{
    text-align: center;
}