<div class="container-fluid">
    <div class="content container">   
        <div class="row"><div class="col-xs-5 col-sm-5 col-md-2 cold-lg-2"><h1>What's New! <hr></h1></div></div>    
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 cold-lg-3 text-center">
                <div class="thumbnail">
                    <img src="assets/img/chicago.jpg" alt="Chicago">
                    <div class="caption"><p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p></div>
                </div>
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>            
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 cold-lg-3 text-center">
                <div class="thumbnail">
                    <img src="assets/img/chicago.jpg" alt="Chicago">
                    <div class="caption"><p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p></div>
                </div>
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>  
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 cold-lg-3 text-center">
                <div class="thumbnail">
                    <img src="assets/img/chicago.jpg" alt="Chicago">
                    <div class="caption"><p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p></div>
                </div>
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>  
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 cold-lg-3 text-center">
                <div class="thumbnail">
                    <img src="assets/img/chicago.jpg" alt="Chicago">
                    <div class="caption"><p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p></div>
                </div>
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>  
            </div>
        </div>
    </div>
</div>