<div class="container-fluid footer">
    <div class="row">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-6 cold-lg-6">
                <form class="footer-form" action="">
                    <h1>Fast Contact <hr></h1>
                    <input type="textarea">
                    <button type="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 cold-lg-6">
                <h1>Last Video <hr></h1>
                <video width="100%" height="auto" controls><source src="test.mp4" type="video/mp4"></video>
            </div>
        </div>
    </div>
    <div class="credit"><h2>Designed by KirnsteinZ</h2></div>
</div>