<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-inverse">
            <div class="col-xs-12 col-sm-6 col-md-5 cold-lg-5 col-md-offset-1 col-lg-offset-1">
                <form class="navbar-form navbar-left">
                    <div class="row">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class ="col-xs-12 col-sm-6 col-md-3 cold-lg-3 col-md-offset-2 col-lg-offset-2">
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a><img class="img-circle" src="assets\img\glyphicons_free\glyphicons-social\png\glyphicons-social-31-facebook.png" alt=""></a></li>
                        <li><a><img class="img-circle" src="assets\img\glyphicons_free\glyphicons-social\png\glyphicons-social-32-twitter.png" alt=""></a></li>
                        <li><a><img class="img-circle" src="assets\img\glyphicons_free\glyphicons-social\png\glyphicons-social-3-google-plus.png" alt=""></a></li>
                        <li><a><img class="img-circle" src="assets\img\glyphicons_free\glyphicons-social\png\glyphicons-social-18-linked-in.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-1"></div>
        </div>
    </div>
</div>