<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-3">
      <div class="cart">
        <h1>Cart</h1>  
        <table>
          <tr><th>Name</th><th>Quantity</th></tr>
          <tr *ngFor="let a of cart">
            <td>{{a.name}}</td><br>
            <td>{{a.quantity}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-6 col-md-9 col-lg-9">
      <div class="itemList">
        <h1>Product</h1>
        <div class="row">
          <div *ngFor="let item of item" class="col-sm-6 col-md-4 col-lg-4 item">
            <div class="itemImage">
              <img src={{item.img}} alt={{item.name}}>
            </div>
            <div class="detail">
              Name  : {{item.name}}<br>
              Price : {{item.price}}
            </div>
            <div>
              <button  class="btn btn-primary buyButton" (click)="addToCart(item.name)">Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>