.cart{
   padding:15px;
   border: 1px solid black; 
   border-radius: 10px;
   min-height:400px;
}
.itemList{
   padding:0px 15px;
   border: 1px solid black; 
   border-radius: 10px; 
   min-height:400px; 
}
.item{
   padding:15px;
   border-radius: 10px; 
}
.buyButton {
    width: 100%;
    text-align: center;
}
.itemImage{
    height:200px;
}