<div class="container">
  <div class="row">
    <nav class="navbar navbar-inverse" style="padding-right:20px">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="/">Product</a></li>
        <li><a routerLink="/">Cart</a></li>
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/">Contact</a></li>
        <li><a routerLink="/">Blog</a></li>
      </ul>
    </nav>
  </div>
</div>