<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-1">
      <h1>My todo list</h1><hr>
      <table class="table table-bordered table-hover table-striped">
        <tr>
          <th>Name</th><th>Category</th><th>Completed</th>
        </tr>
        <tr *ngFor="let todo of todoList;let i = index">
          <td>{{ i }} : {{ todo.name }}</td>
          <td>{{ todo.category }}</td>
          <td>
            <div class="checkbox">
              <label><input type="checkbox" value="" [(ngModel)]="todo.status"></label>
              <button class="btn btn-primary" (click)="delete(i)">delete</button>
            </div>
          </td>
        </tr>
      </table>
      <button class="btn btn-primary" (click)="updateTask()">Update Task</button>
      
      
      <div class="form-group">
        <label for="name">Task Name</label>
        <input type="text" class="form-control" [(ngModel)]="newtaskname" id="name" placeholder="Enter Name">
      </div>
        <div class="form-group">
        <label for="name">Task Name</label>
        <input type="text" class="form-control" [(ngModel)]="newtaskcategory" id="category" placeholder="Enter Category">
      </div>
      <button class="btn btn-primary" (click)="addTodo()">Add Task</button>
    </div>
  </div>
</div>